<nav class="navbar navbar-lg-expand color-2">
  <a href="/events" class="text-color-5 navbar-text text-decoration-none">Social Lite</a>
  <div class="justify-content-end">
    <%= link_to "#{current_user.name}", user_path(current_user), class: "text-color-5 mr-3" %>
    <%= link_to "Log Out", logout_path, method: :delete, data: { confirm: "Are you sure you want to logout?" }, class: "btn-danger btn text-white shadow" %>
  </div>
</nav>
<%= bootstrap_form_for(@event) do |f| %>
  <div class="pt-2 shadow pb-5 mt-5 container col-lg-4 col-md-5 mb-5">
    <%= f.text_field :start_date, data: { behaviour: 'flatpickr' }, class: "text-black bg-light", id: "start_date" %>
    <%= f.text_field :end_date, data: { behaviour: 'flatpickr' }, class: "text-black bg-light", id: "end_date" %>
    <%= f.text_field :location, class: "text-black bg-light" %>
    <%= f.text_field :title, class: "text-black bg-light" %>
    <%= f.text_area :description, class: "text-black bg-light" %>
    <div class="d-flex justify-content-between">
      <%= link_to "Cancel", root_path, class: "color-1 btn text-white shadow" %>
      <%= f.submit "Submit", class: "color-3 btn text-white shadow" %>
    </div>
  </div>
<% end %>